@import "tailwindcss";

@layer base {
  body {
    @apply m-0 p-0
  }
  .main_section{
    @apply bg-[url('/src/assets/bg.jpg')] bg-center bg-cover mx-auto h-screen
  }
  .dark_bg{
    @apply absolute inset-0 bg-black/35
  }
  .navbar{
    @apply flex flex-row justify-around items-center mx-auto pt-10 pb-7 fixed w-full top-0 left-0 z-50 bg-white/30 
  }
  .orgname{
    @apply w-6/12 text-center text-white font-bold text-4xl
  }
  .nav_btns{
    @apply w-6/12 flex justify-center
  }
  .nav_btns ul{
    @apply flex flex-row justify-center items-center gap-7 w-fit
  }
  .nav_btns ul li{
    @apply text-white w-26 font-semibold text-center rounded cursor-pointer bg-[#FA8072]/40 pt-1.5 pb-1.5
  }
  .nav_btns ul li:hover{
    @apply bg-[#FA8072]
  }

 
  .main_display{
    @apply fixed top-40 left-10 z-50 flex flex-col gap-10 w-6/12 border-2 pt-20 pb-20
  }
  .main_display .text{
    @apply text-7xl text-white font-extrabold text-center
  } 
  .main_display .display1_btn{
    @apply bg-[#FA8072]/60 text-white rounded px-10 py-3 w-fit mx-auto font-bold cursor-pointer
  }
}
